div {
    width: 200px;
    height: 200px;
    background-color: pink;
}

#alpha {
    background-color: rgba(255, 255, 255, 0.5);

}

#opacity {
    background-color: rgba(127, 255, 212, 1);
    opacity: 0.5;
}