/* p {
    border: 10px solid red;
    padding: 10px;
} */

#two {
    border: 5px solid red;
    padding: 10px;
}

[id="2"] {
    border: 2px solid black;
    padding: 10px;
    margin: 40px;
    font-size: 30px;
}

p {
    border: inherit;
    padding: inherit;
}

div {
    border: inherit;
    padding: inherit;
    font-size: 10px;
}

span {
    border: 5px solid black;
    margin: 10px;
    width: 200px;
    height: 200px;
    padding: 100px;
    display: inline-block;
    text-align: center;
}

article {
    font-size: 20px;
}

/* In font-size 1em refer to parents font size*/
/* In margin/padding 1em refer to current element's font size */
p {
    font-size: 2em;
    margin: 1em;
    border: 5px solid black;
}

button {
    font-size: 1em;
    padding: 0 2em;
    border-radius: 1em;
}