# Dependencies
node_modules/
jspm_packages/
web_modules/

# Production/Build outputs
dist/
build/
.next/
.nuxt/
out/
.docusaurus/
.cache/
.parcel-cache/
.turbo/
.svelte-kit/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables / secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
.gittoken

# Editor settings and IDEs
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swo
*.swp

# System files
.DS_Store
Thumbs.db
